<!-- <input type="text" #messageInput />
<button (click)="sendMessage(messageInput.value)">Send</button>

@for (message of messages(); track message) {
  <p>{{ message }}</p>
} -->
<!-- <router-outlet /> -->

 <mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Chat with Gemini</span>
  <span class="example-spacer"></span>
  <button matIconButton class="example-icon" aria-label="Example icon-button with add icon">
    <mat-icon>edit_square</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" matButton="elevated">
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-chat-container />
  </div>

</mat-drawer-container>
